body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

/* Add padding to all components */
.component {
  padding: 20px;
}

/* Style Navbar */
.navbar {
  margin-bottom: 20px;
  background-color: #f8f9fa;
  /* Example background color */
}

/* Style Header */
.header {
  text-align: center;
}

/* Style LoginForm */
.login-form {
  max-width: 400px;
  margin: auto;
  text-align: center;
}
/* Style BMICalculator */
.bmi-calculator {
  max-width: 400px;
  margin: auto;
  text-align: center;
}
/* Style PricePlanCard */
.price-plan-card {
  max-width: 300px;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-align: center;
}